body {

    /* background: linear-gradient(red , blue) */
    background:  linear-gradient(blue , red); 
   }
   #box1{
       border: 5px solid;
       height: 250px;
       width: 250px;
       background: greenyellow;
   }
   #box2{
       border: 5px solid;
       height: 250px;
       width: 250px;
       background: rgb(233, 132, 132);
   }
   #p1{
       color: blue;
   }
   #p2{color: brown;
   }
   #p3{
       color: blueviolet;
   }
   .odd{
       color: aqua;
   }
   .even{
       color: red;
   }